<!DOCTYPE html>
<html>
<head>
    <title>Student Skill Gap Analyzer</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="hero">

        <div class="hero-content">

            <h1>🎓 Student Skill Gap Analyzer</h1>

            <p>
                Discover your skill gaps and understand
                what you need to improve for your target career.
            </p>

            <a href="/skills">
                <button class="primary-btn">
                    Start Skill Analysis
                </button>
            </a>

        </div>

    </div>

</body>
</html>